/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.dylib
*.exe
*.out
*.app

*.cache/
*.tmp
*.temp
*.log
*.swp
*~

*.png
*.jpg
*.jpeg
*.bmp
*.tiff
screenshot*.png
all_words.txt
screenshot_highlighted.png

.vscode/

.idea/
cmake-build-debug/
cmake-build-release/

.vs/
*.vcxproj*
*.sln

*.pro.user*
*.qmake.stash
